html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../css/style.css")
        script(src="../js/tilemap.js")
        script(src="../js/client.js")
    body
        #table
            .pane.seat#seat_0
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_1
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_2
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

            .pane.seat#seat_3
                .wind Wind:
                    span
                .name Player:
                    span
                .tiles
                    .discards
                    .melds
                    .hand

        .pane#chat
            textarea#chatHistory
            form#chatInput
                input#chatInputText(type="text")
                input(type="submit", value="Send")

        .pane#log
            textarea#logHistory
