body
  margin: 0
  padding: 0
  background: #333

.pane
  background: #ccc
  margin: 10px
  padding: 10px
  border: 1px solid #999
  border-radius: 4px

.seat
  span
    margin-left: 4px
  .tiles
    background: #eee
  &.active
    background: #ffcfb4
    

#chat
  display: flex
  flex-direction: column

#chatHistory
  flex: 1
  min-height: 100px

#chatInput
  flex-direction: row

#log
  display: flex

#logHistory
  flex: 1
  min-height: 100px

.tiles
  span
    cursor: grab
  .melds, .discards
      font-size: 2em
      border-bottom: 1px solid #999
      margin-bottom: .25em
      padding-bottom: .25em
  .discards
      color: white
      background: #333
  .hand
      font-size: 4em
      line-height: 1em
